/* element selector*/
table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;/* top, right,bottom */
    padding: 30px;
}
caption{
    background-color: aqua;
    border-collapse: collapse;
    border: 2px solid rebeccapurple;
    font-style: italic ;
    font-size: large;
    
}
#effect:hover{
    background-color: rgb(165, 42, 144);
}
#no{
    color: brown;
}
tr:nth-child(odd){
    text-decoration: underline;
}